@import "tailwindcss";

@theme inline {
  --color-background: #030712;
  --color-foreground: #f9fafb;
  --font-sans: var(--font-geist-pixel-square);
  --font-mono: var(--font-geist-mono);
  --font-pixel: var(--font-geist-pixel-square);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-geist-pixel-square), monospace;
}
